@font-face{
	font-family: "Lorano";
	src:url("../fonts/Lorano-ExtraLight.ttf");
}
@font-face{
	font-family: "Freehand";
	src:url("../fonts/Freehand.ttf");
}
@font-face{
	font-family: "Duster";
	src:url("../fonts/Duster Regular.ttf");
}
@font-face{
	font-family: "tombow";
	src:url("../fonts/tombow.ttf");
}
.map{
	width: 100vw;
	height: 100vh;
    overflow: hidden;
    position: relative;
}
.fondo{
	color: black;
}

.bot{
	background-color: black;
	width: 70%;
	height: 40px;
	font-size: 2em;
    margin-left: 14%;
	position:absolute;
	bottom: 2%;
	border: 2px solid white;
	color: white !important;
	font-family: "Freehand";
}
.bot:hover{
	background-color: black !important;
	opacity: 0.7!important;
	border:2px solid white !important;
}
.z-index{
	z-index: 100;
	position: absolute;
}
.profile{
  height: 3em;
  width: 3em;
}
.gift{
 height: 3em;
  width: 3em;
}
.section{
	margin-top: 20%;
	margin-left: 2%;
}
.user{
	height: 9em;
	width: 9em;
	margin-top: 14%;
	margin-left: 26%;
}
.color{
	color: black;
}
.letra{
	text-align: center;
	font-family: "Freehand";
	font-size: 2em;
	margin-left: 39%;
	margin-top: 28%;
}
#direccion{
	width: 90%;
	border-radius: 9px;
}
.in{
position: relative;
margin-top: 1rem;
}
.formu{
position: absolute;
bottom: 0;
left: 0;
}
.pos{
	position: relative;
}
.direction {
	border: none;
	border-radius: 5px;
	height: 40px;
	display: block;
	width: 100%;
	margin-bottom: 10px;
	padding: 10px;
}
.caja-direction {
	width: 100%;
	position: absolute;
	z-index: 1;
	padding: 15px;
	bottom: 0;
}
.bot {
	border-style: none;
	color: #FFF;
	border-radius: 5px;
	height: 40px;
	bottom: 5%;
}
.fondo-opaco {
	background-color: rgba(0, 0, 7, 0.4);
	border-radius: 5px;
	width: 100%;
	height: 135px;
	padding: 20px;
	position: absolute;
	bottom: 85px;
	z-index: 1;
}
.side-nav{
	width: 70% !important;
	overflow-y: hidden;
}
.align{
	text-align: center;
}
.align-right{
	text-align: right;
    background-color: rgba(255, 0, 0, 0.75);
}